<h2>Please enter the url</h2>
<form action="/add_bookmark" method="post">
<input type="text" name="url" maxlength="60"> 

<label for="title">Enter title:</label>
<input type="text" name="title" maxlength="60">
<input type="submit" value="add">
</form>